*.dat
libdistance-0.2.1
build
*.pyc
logfile
*.*~
*.o
*.so
*.py.*
*.*gz
.#*
*.*#
*.json
examples/output/*.*
examples/csv_example/csv_example_output.csv
*output.csv
examples/mysql_example/*.txt*
*.db
kernprof.py
possible_classifiers
.DS_Store
mysql.cnf
*settings
Dedupe.egg-info/
ENV
distpgsql_init_db.py
pgsql_example/pgsql_init_db.py
.idea
/.vs/dedupe-examples/v16/.suo
/.vs/slnx.sqlite
/dedupe-examples.pyproj.user
/s3_csv_example/combinedfile.csv
/s3_csv_example/s3thirdfile.csv
/s3_csv_example/s3secondfile.csv
/s3_csv_example/Mappings.csv
/combinedfile.csv
/CBKC01.sorted.Duplicate_Vaccination_Signups.2021.04.19-19.46.56.csv
/CBKC01.ResponseExportComeBackKC1.csv
/CBKC01.Agency2.csv
/pre_Op1.csv
/Duplicate_Vaccination_Signups.2021.04.27-12.31.18.csv
/logfile.csv
/errors.csv
/sorted.Duplicate_Vaccination_Signups.2021.04.28-16.29.57.csv
/sorted.Duplicate_Vaccination_Signups.2021.04.28-16.06.01.csv
/SAFE01.sorted.Duplicate_Vaccination_Signups.2021.04.28-16.29.57.csv
/SAFE01.sorted.Duplicate_Vaccination_Signups.2021.04.28-16.06.01.csv
/s3_csv_example_output.2021.03.28-10.49.26.zip
/s3_csv_example_output.2021.03.27-13.45.32.csv
